# Ignoriši foldere sa generisanim fajlovima
    output/
    models/

    # Ignoriši Python cache foldere
    __pycache__/
    *.pyc

    # Ignoriši fajlove specifične za IDE (npr. Visual Studio Code)
    .vscode/
